- skill = Array.new
- skill << Array.new(1,"Web Frontend") # frontend skill
- skill[skill.length-1] << ["HTML5","概念＆実装を理解。実際にコードも書く。"]
- skill[skill.length-1] << ["CSS3","アニメーションを使うくらいまで。"]
- skill[skill.length-1] << ["Bootstrap","このサイトで使ってるくらいには使いこなしてるつもり。"]
- skill << Array.new(1,"Programing") # backend skill
- skill[skill.length-1] << ["PHP web backend","自分の中で一番好きな言語。実はオブジェクト指向で静的型付けできてバイナリにコンパイルできたりする。"]
- skill[skill.length-1] << ["C","二番目に好きな言語。「コードゴルフ」という、なるべく短い行数でコードを書くっていう遊びによく使ってる。"]
- skill[skill.length-1] << ["Java software","オブジェクト指向の勉強に使った。3D演算くらいはできる（はず）。"]
- skill[skill.length-1] << ["Google Chrome app and extension","Webアプリを落とし込むだけなのでそこまで難しくない。"]
- skill[skill.length-1] << ["REST API based bot","Twitterとか匿名掲示板のREST APIくらいなら完璧にいじれる。"]
- skill << Array.new(1,"Server") # server skill
- skill[skill.length-1] << ["Ubuntu server","冗談抜きに一日10回OSを焼く作業とかやったので一通りできる。"]
- skill[skill.length-1] << ["LA(N)MP - Linux Apache(Nginx) Mysql PHP","LAMP環境やNginxの構築は手慣れてるのですぐにできます。"]
- skill[skill.length-1] << ["Wordpress","昔はこいつでブログを書いてたりしてました。"]
- skill[skill.length-1] << ["Docker","デプロイが楽すぎて、最近はサーバーにSSHして作業するよりかはDockerfile書いてるくらい。"]
- skill[skill.length-1] << ["OpenSSH","SSHサーバー立てられます。"]
- skill[skill.length-1] << ["Tor relay","Torのリレーサーバーの構築経験があります。"]
- skill[skill.length-1] << ["Iptables","ドキュメント片手に最低限の設定とかはできる。"]
- skill[skill.length-1] << ["Squid","キャッシュサーバーにはとてもお世話になるくらい構築しました。"]
- skill << Array.new(1,"Network") # network skill
- skill[skill.length-1] << ["DHCP server","ルーターが不調だったので自作した経験が会ったりします。"]
- skill[skill.length-1] << ["BIND9","家の中だけでgoogle.comを取得したりなんかの遊びをできるくらいには使えます。"]
- skill[skill.length-1] << ["NSD","BINDを使うまでも無いときとかに使ってます。"]
- skill << Array.new(1,"Other") # network skill
- skill[skill.length-1] << ["Shell script playing","シェル芸人を自称できるくらいにはシェルを使いこなせているつもりです。"]

!!! 5
%html(lang="en")
	%head
		= Haml::Engine.new(File.read("_meta.haml")).render
		%link(crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" rel="stylesheet")
		%link(href="main.css" rel="stylesheet")
		%title onokatio
	%body
		= Haml::Engine.new(File.read("_navbar.haml")).render
		.row.m-0.d-flex.flex-row.flex-wrap.justify-content-around.align-self-start
			- for skillnum in 0..skill.length-1
				.flexitem.col-sm-12.col-md-6.col-lg-6.col-xl-3.p-0
					%table.table.table-hover
						%caption.text-center #{skill[skillnum][0]} Skill
						%tbody
							- for num in 1..skill[skillnum].length-1
								%tr
									%td #{skill[skillnum][num][0]}
									%td #{skill[skillnum][num][1]}
		%script(async defer src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n")
		%script(async defer src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb")
		%script(async defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn")




